Adafruit-Blinka==7.1.1
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-ds3231==2.4.11
adafruit-circuitpython-fxas21002c==2.1.12
adafruit-circuitpython-fxos8700==2.1.12
adafruit-circuitpython-register==1.9.8
adafruit-circuitpython-typing==1.3.0
Adafruit-PlatformDetect==3.22.0
Adafruit-PureIO==1.1.9
ADS1115==0.2.1
astropy==5.0.3
attrs==21.4.0
autopep8==1.6.0
bitstring==3.1.9
black==22.1.0
cfgv==3.3.1
-e git+https://github.com/Cislunar-Explorers/FlightSoftware.git@235cd23fcfbb72a424781a2ed04f7d0d58605414#egg=CislunarExplorers
click==8.0.4
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
flake8==4.0.1
fonttools==4.31.2
greenlet==1.1.2
identify==2.4.12
iniconfig==1.1.1
kiwisolver==1.4.0
llvmlite==0.38.0
matplotlib==3.5.1
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
numba==0.55.1
numpy==1.21.5
numpy-quaternion==2022.2.10.14.20.39
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
-e git+https://github.com/Cislunar-Explorers/FlightSoftware.git@235cd23fcfbb72a424781a2ed04f7d0d58605414#egg=opnav&subdirectory=OpticalNavigation
packaging==21.3
pandas==1.4.1
parameterized==0.8.1
pathspec==0.9.0
pigpio==1.78
Pillow==9.0.1
platformdirs==2.5.1
pluggy==1.0.0
pre-commit==2.17.0
psutil==5.9.0
py==1.11.0
pycodestyle==2.8.0
pyerfa==2.0.0.1
pyflakes==2.4.0
pyftdi==0.54.0
pyparsing==3.0.7
pyquaternion==0.9.9
pyserial==3.5
pytest==7.1.1
pytest-mock==3.7.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pyusb==1.2.1
PyYAML==6.0
scipy==1.8.0
six==1.16.0
smbus2==0.4.1
SQLAlchemy==1.4.32
toml==0.10.2
tomli==2.0.1
tqdm==4.63.1
typing_extensions==4.1.1
uptime==3.0.1
virtualenv==20.14.0
