picamera
pigpio
SQLalchemy
adafruit-circuitpython-busdevice
vcgencmd
Adafruit-Blinka
adafruit-circuitpython-fxos8700
adafruit-circuitpython-fxas21002c
ADS1115
adafruit-circuitpython-ds3231
tqdm
psutil
uptime
opencv-python-headless
numpy-quaternion
astropy
adafruit-circuitpython-ds3231
bitstring